# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
*.png
*.sbx
*.sbn
DC5-Data/Sensor Data and Maps/StHimarkNeighborhoodShapefiles/StHimark.shx
DC5-Data/Sensor Data and Maps/StHimarkNeighborhoodShapefiles/StHimark.shp
DC5-Data/Sensor Data and Maps/StHimarkNeighborhoodShapefiles/StHimark.prj
DC5-Data/Sensor Data and Maps/StHimarkNeighborhoodShapefiles/StHimark.dbf
DC5-Data/Sensor Data and Maps/StHimarkNeighborhoodShapefiles/StHimark.cpg
DC5-Data/VAST 2019 - St. Himark - About Our City.docx
DC5-Data/.DS_Store
DC5-Data/Damage Reports/.DS_Store
DC5-Data/Damage Reports/MC1-DataDescription.docx
DC5-Data/Damage Reports/mc1-reports-data.csv
DC5-Data/Sensor Data and Maps/.DS_Store
DC5-Data/Sensor Data and Maps/MC2_datadescription.docx
DC5-Data/Sensor Data and Maps/MobileSensorReadings.csv
DC5-Data/Sensor Data and Maps/StaticSensorLocations.csv
DC5-Data/Sensor Data and Maps/StaticSensorReadings.csv
DC5-Data/Y*Int Social Media Data/.DS_Store
DC5-Data/Y*Int Social Media Data/MC3 Data Readme.txt
DC5-Data/Y*Int Social Media Data/YInt.csv
